{
  "printWidth": 145,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "proseWrap": "never",
  "objectCurlyNewline": false,
  "objectPropertyNewline": false
}